<div class="row">
    <div class="col-12 col-md">
        Django-project
        <small class="d-block mb-3 text-muted">&copy; 2025</small>
    </div>
    <div class="col-6 col-md">
        <h5>Категории</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Заглушка 1</a></li>
            <li><a class="text-muted" href="#">Заглушка 2</a></li>
            <li><a class="text-muted" href="#">Заглушка 3</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Дополнительно</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Заглушка 4</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/contacts/">Заглушка 5</a></li>
        </ul>
    </div>
</div>