<h5 class="my-0 mr-md-auto font-weight-normal">Django-project</h5>
<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:home' %}">Главная</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipients' %}">Получатели</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:messages' %}">Сообщения</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailings' %}">Рассылки</a>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="p-2 btn btn-outline-primary">Выйти</button>
    </form>
    <a class="p-2 btn btn-outline-primary" href="#">Войти</a>
    <a class="p-2 btn btn-outline-primary" href="#">Регистрация</a>

</nav>
