<h5 class="my-0 mr-md-auto font-weight-normal">Django-project</h5>
<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:home' %}">Главная</a>

    {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipients' %}">Клиенты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:messages' %}">Сообщения</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailings' %}">Рассылки</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_attempts' %}">Статистика</a>

        {% if is_manager %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:user_list_manager' %}">Пользователи</a>
        {% endif %}

        <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="p-2 btn btn-outline-primary">Выйти</button>
        </form>
    {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
</nav>