{% extends 'mailing/base.html' %}
{% block title %}Список рассылок{% endblock %}

{% block content %}
<div class="container marketing mt-5">
    <div class="container text-center mt-3">
        <div class="row justify-content-center">
            <div class="col-4 mb-2">
                <h2>Рассылки</h2>
                <a class="btn btn-success mt-3" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive small">
            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th>Тема сообщения</th>
                    <th>Начата</th>
                    <th>Окончена</th>
                    <th>Статус</th>
                    <th>Сообщение</th>
                    <th>Активность</th>
                    <th>Создал</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for mailing in mailings %}
                <tr>
                    <td>{{ mailing.message.email_subject }}</td>
                    <td>{{ mailing.start_time|date:"d M Y" }}</td>
                    <td>{{ mailing.end_time|date:"d M Y" }}</td>
                    <td>{{ mailing.get_status_display }}</td>
                    <td>{{ mailing.message.email_body|truncatechars:30 }}</td>
                    <td>
                        {% if mailing.is_active %}
                            <span class="badge bg-success">Активна</span>
                            <a type="button" class="btn btn-danger btn-sm"
                               href="{% url 'mailing:toggle_mailing_activity' mailing.pk %}">Заблокировать</a>
                        {% else %}
                            <span class="badge bg-secondary">Не активна</span>
                            <a type="button" class="btn btn-success btn-sm"
                               href="{% url 'mailing:toggle_mailing_activity' mailing.pk %}">Разблокировать</a>
                        {% endif %}
                    </td>
                    <td>{{ mailing.owner.username|default:"N/A" }}</td>

                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing' mailing.pk %}">Посмотреть </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing_update' mailing.pk %}">Редактировать</a>
                        <a class="btn btn-danger btn-sm"
                           href="{% url 'mailing:mailing_delete' mailing.pk %}">Удалить</a>
                        {# НОВОЕ УСЛОВИЕ ДЛЯ КНОПКИ "ЗАПУСТИТЬ" #}
                        {% if mailing.is_active %}
                            <a class="btn btn-secondary btn-sm mt-1" href="{% url 'mailing:run_mailing' mailing.pk %}">Запустить</a>
                        {% else %}
                            <button class="btn btn-secondary btn-sm mt-1" disabled>Запустить</button> {# Отключенная кнопка #}
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}