{% extends 'mailing/base.html' %}
{% block title %}Список получателей рассылки{% endblock %}

{% block content %}
<p class="lead pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Ваш список клиентов<br>
    </p>
<div class="row">
    {% for recipient in recipients %}
    <div class="col-6">
        <div class="card text-bg-light">
            <h4 class="card-header p-3 text-center">{{recipient.full_name}}</h4>
              <div class="card-body">
                  <div class="mb-3">
                    <p class="card-text text-center">
                      {{recipient.comment|truncatechars:50}}
                    </p>
                  </div>
                  <div class="row">
                      <div class="col-9">
                          <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient' recipient.pk %}" role="button">Подробнее</a>
                          <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient_update' recipient.pk %}" role="button">Редактировать</a>
                          <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient_delete' recipient.pk %}" role="button">Удалить</a>
                      </div>
                  </div>
              </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% if user.is_superuser or perms.sending_messages.add_mailingrecipient %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-primary mt-4" href="{% url 'mailing:recipient_create' %}" role="button">Добавить получателя</a>
</div>
{% endif %}
{% endblock %}