{% extends 'mailing/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Письмо для сброса пароля отправлено</h2>
            </div>
            <div class="card-body">
                <p class="text-center">Мы отправили вам инструкции по сбросу пароля на ваш Email-адрес. Пожалуйста,
                    проверьте свою почту (включая папки со спамом).</p>
                <p class="text-center">Если вы не получили письмо, попробуйте еще раз или свяжитесь с нами.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}